
<h2> Welcome to my Instagram Clone using Ruby on Rails.
<br> This social platform designed for connecting with friends,
<br> sharing moments, and exploring creativity.
<br> Our mission is to provide a space where you can express yourself,
<br> stay updated on what is happening in your community,
<br> and find inspiration from people all around the world.</h2>
